[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.95.2"
uvicorn = "==0.22.0"
motor = "==3.1.2"

[requires]
python_version = "3.11"

[dev-packages]
python-decouple = "*"
